.div-feed{
    display: flex;
    flex-direction: column;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    margin-bottom: 15px;
    background-color: white;
}

img{
    width: 100%;
    height: 100%;
}